.main {
display: -webkit-flex;
display: flex;
}

.nav {
display: flex;
justify-content: space-between;
}

.navbutton {
background: linear-gradient();

}
 #b1 {

 }

 #b2 {

 }

 #b3 {

 }

 #b4 {

 }
