.main {
width: auto;
height: auto;
display: -webkit-flex;
display: flex;

}

.nav {
order: -20;
width: auto;
display: -webkit-flex;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
flex-direction: row;
}

.main {
background: linear-gradient(to right, DarkBlue, Yellow);

}
 #b1 {
text-align: justify;
border-radius: 10px;
 }

 #b2 {
text-align: justify;
border-radius: 10px;
 }

 #b3 {
text-align: justify;
border-radius: 10px;
 }

 #b4 {
text-align: justify;
border-radius: 10px;
 }
